MONGODB_URI=mongodb://admin:password@localhost:27018/covermyletter?authSource=admin

# API Langflow
API_KEY=sk-w8rfxI577LQCCNixSAoc5tn5UN-xLcvRKdjU_AwjbuM
LANGFLOW_BASE_URL=http://localhost:7860

# ID du fichier pour les tweaks
FILE_TWEAK_ID=File-UMB4K